extends layout

block content
  .container.text-center.justify-content-center
  .row
    .col.my-2
      .alert.alert-success.alert-dismissible.text-center(role='alert')
        h5.
          You Successfully Logged In !!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
  h4.text-center.alert.alert-secondary.mx-auto.
    List Of Registered Users
  include ./mixin/userCard.pug
  .row.justify-content-center
    +userCard(userRegister.fullName,userRegister.email,userRegister.password,login)
    